@use "../helpers/media";

.works {
  &__item {
    position: relative;
    border-top: 1px solid var(--border-color);

    @media (min-width: 768px) and (hover: hover) {
      cursor: none;
    }

    @include media.md {
      margin: 0 calc(-1 * var(--container-padding-x));
      padding: 0 var(--container-padding-x);
    }

    &:not(.is-active) {
      .works {
        &__header {
          @include media.md-up {
            z-index: 10;
          }
        }
        &__name {
          @include media.md-up {
            color: var(--grey-light);
          }
        }
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--works-header-height);
    gap: 24px;

    @include media.md {
      padding: 12px 0 10px;
    }
  }
  &__name {
    font-weight: 500;
    font-size: 48px;
    transition: color var(--transition-default);

    @include media.lg {
      font-size: 24px;
    }
  }
  &__tags {
    position: relative;
    width: var(--works-image-width);
    padding: 0 8px;
    z-index: 1;

    @include media.md {
      padding: 0;
    }
  }
  &__tag {
    display: inline-block;
    border-radius: 999px;
    min-width: 140px;
    padding: 0px 12px;
    white-space: nowrap;
    backdrop-filter: blur(24px);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;

    @include media.lg {
      min-width: 90px;
      font-size: 10px;
      line-height: 24px;
    }
    @include media.md {
      background-color: var(--background-color-glass);
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    min-height: 0;

    @include media.md {
      flex-direction: column-reverse;
      gap: 20px;
    }
    @include media.sm {
      gap: 15px;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @media (min-width: 768px) and (hover: hover) {
      cursor: none;
    }

    span {
      opacity: 0;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
    padding-bottom: 20px;
    min-height: var(--works-item-height);

    @include media.xl {
      gap: 24px;
    }
    @include media.lg {
      gap: 18px;
    }
    @include media.md {
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
    }
    @include media.xs {
      gap: 14px;
    }
  }
  &__detail {
    @include media.md {
      flex: 1;
    }
  }
  &__detail-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--grey-light);
    margin-bottom: 6px;

    @include media.lg {
      font-size: 13px;
    }
    @include media.sm {
      font-size: 10px;
      margin-bottom: 4px;
    }
  }
  &__detail-value {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;

    @include media.xl {
      font-size: 16px;
    }
    @include media.lg {
      font-size: 14px;
    }
    @include media.sm {
      font-weight: 400;
      font-size: 12px;
    }
  }
  &__figure {
    position: absolute;
    right: 0;
    top: 20px;
    bottom: 20px;
    width: var(--works-image-width);
    border: 1px solid var(--border-color-dark);
    border-radius: 28px;
    overflow: hidden;

    @include media.lg {
      border-radius: 18px;
      top: 16px;
      bottom: 14px;
    }
    @include media.md {
      position: static;
      border-radius: 12px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.js-accordion {
  &__item {
    @include media.md-up {
      display: grid;
      grid-template-rows: auto 0fr;
      align-content: flex-start;
      align-items: flex-start;
      grid-auto-rows: min-content;
      overflow: hidden;
      transition: grid-template-rows var(--transition-accordion);

      &.is-active {
        grid-template-rows: auto 1fr;
      }
    }
  }
}
