{% extends "../layouts/layout.njk" %}

{% block title %}FR Test - Alexander Kuleshov{% endblock %}

{% block content %}
  {% include "hero.njk" %}
  {% include "integrations.njk" %}
  {% include "featured-work.njk" %}
{% endblock %}