<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo" aria-label="Focus Reactive">
      <img
        src="img/logo.svg"
        alt="Focus Reactive logo"
        width="110"
        height="38"
/>
    </a>
    <nav class="header__nav" role="navigation">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Services</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Portfolio</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">About</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Blog</a>
        </li>
        <li class="header__nav-item header__nav-item_mobile-visible">
          <a href="#" class="header__nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="header__contact-btn btn">Contact Us</a>
    <button 
      class="header__burger" 
      aria-label="Toggle navigation menu" 
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <span class="header__burger-line" aria-hidden="true"></span>
      <span class="header__burger-line" aria-hidden="true"></span>
    </button>
  </div>
</header>