<section class="section hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">
        We build<br/>
        Composable<br/>
        Content Systems.<br/>
        <span class="hero__title-accent">Fast and Scalable.</span>
      </h1>
    </div>
    <div class="hero__awards">
      <a
        href="https://clutch.co/profile/focusreactive"
        target="_blank"
        class="hero__award"
      >
        <img
          src="img/clutch-rating.svg"
          alt="Clutch rating"
          width="91"
          height="48"/>
      </a>
    </div>
    <div class="hero__info">
      <p class="hero__text">
        From Modular Marketing Websites to AI-enriched content editing
        experiences. Experts in CMS, eCommerce and SEO.
      </p>
    </div>
    <div class="hero__social">
      <ul class="social">
        <li class="social__item">
          <a href="#" class="social__link" aria-label="X">X</a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link" aria-label="LinkedIn">LI</a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link" aria-label="Facebook">FB</a>
        </li>
      </ul>
    </div>
  </div>
  <img class="hero__bg-img" src="https://focusreactive.com/assets/img/hero-bg.webp" alt=""/>
</section>